# Setup installation RH based: 
---
- name: Create NFS server
  hosts: 192.168.1.3
  tasks:
    - name: setup nfs server  
    - include_tasks: rh-setup.yml
        when: ansible_os_family == 'RedHat'

 - name: Create NFS client
   hosts: 192.168.1.2
   tasks:
     - name: setup nfs client
     - include_tasks: tasks/rh-setup-client.yml
	 when: ansible_os_family == 'RedHat'
